# Ignore all backup .pickle (s)
*.*.pickle

# Ignore .ini and .yaml files
**.ini
**.yaml

# Ignore database-related local files (.csv & .sql)
*.csv
*.sql

# Ignore __pycache__ directories
**/__pycache__
**/__pycache__/*
*.pyc

# Ignore other directories
/diagram/
/tecbusca/
*/chromedriver
