# Ignore all backup classifier.pickle (s)
**/my_classifier.?.pickle

# Ignore .ini and .yaml files
**.ini
**.yaml

# Ignore __pycache__ directories
**/__pycache__
**/__pycache__/*
*.pyc

# Ignore other directories
/diagram/
/tecbusca/
*/chromedriver

# Misc
clear_table_and_insert.py
cleanup_descriptions_in_db.py